.w{
  display: flex;
  gap: 20px;
  width: 1488px;
  margin: 0 auto;
}
.header-top {
  border-bottom: 1px solid rgba(213, 213, 213, 0.5);
  padding: 8px 0 ;
  font-size:14px ;
  a {
    color: #4376FB;
  }
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  .icon {
    width: 24px;
    height: 24px;
    font-size: 18px;
  }
}
.category-list {
  flex: 1;
  display: flex;
  ul {
    display: flex;
    gap: 8px;
    a {
      color: #000;
    }
    li {
      list-style: none;
      padding: 0 16px;
    }
  }
}
.header-bottom{
  padding: 12px 0;
  .category-list{
    justify-content: center;
    font-size: 12px;
  }
}
.header-main {
  display: flex;
  border-bottom: 1px solid rgba(213, 213, 213, 0.5);
  background: #fff;
  gap: 20px;
  padding: 10px 0;
  align-items: center;
  font-family: "Kanit", sans-serif;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon-items {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  &:hover {
    color: #4376fb;
    .icon {
      color: #000;
    }
  }
  .content {
    h4 {
      font-size: 16px;
      font-family: "Jost", sans-serif;
    }
    p {
      font-size: 14px;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    height: 68px;
  }
}
.icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  flex-shrink: 0;
}
.content {
  white-space: nowrap;
}
.input-area {
  position: relative;
 flex: 1;
  height: 54px;
  display: flex;
  align-items: center;
  border: 2px solid #d5d5d5;
  padding: 0 16px;
  border-radius: 50px;
  input {
    outline: none;
    border: none;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    font-family: "Kanit", sans-serif;
    &:hover {
      outline: none;
    }
    &:focus {
      box-shadow: none;
    }
  }

  .cmn-select {
    white-space: nowrap;
    border-right: 1px solid #d5d5d5;
    padding-right: 16px;
    margin-right: 8px;
    :global {
      .ant-select-selector {
        border: none;
        box-shadow: none !important;
      }
    }
  }
}
.cmn-btn {
  outline: none;
  border: none;
  color: #fff;
  background-color: #4376FB;
  padding: 27px;
  width: 200px;
  line-height: 1;
  font-size: 16px;
  border-radius: 50px;
  font-family: "Jost", sans-serif;
}
